*{
    margin:0;
    padding: 0;
}
.header{
    position: fixed;
    background-color: #00ccff;
    color:white;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.left{
    padding-left: 25px;
    font-size: x-large;
    font-weight: bold;
}
.middle{
    padding-left: 20px;
    padding-right: 10px;
}
button:hover{
    cursor: pointer;
}
.a{
    height: 55px;
    width: 60px;
    background-color: #00ccff;
    border: none;
    font-size: larger;
    color: white;
    margin-left: 10px;
    text-decoration: underline;
    text-decoration-color: rgb(196, 56, 79);
}
.b, .c{
    height: 55px;
    width: 60px;
    background-color: #00ccff;
    border: none;
    font-size: larger;
    margin-left: 10px;
    color: rgb(196, 56, 79);
}
.d, .e{
 border-radius: 5px;
   padding: 0; 
   margin-left: 5px;
   width: 60px;
   height: 25px;
   background-color: white;
   border: none;
}
.right{
    margin-right: 35px;
    height: 20px;
    font-size: small;
    background-color: #00ccff;
}
.float{
    background-color: #ffccff;
    height:400px;
    padding-left: 25px;
}
.abcd{
    height: 80px;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 150px;
    background-color: #ffccff;
}
.abc, .bcd, .cde{
    border: 3px solid rgb(196, 56, 79);
    float: left;
    height: 300px;
    width: 420px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.one, .three{
    margin-left: 170px;
    height: 75px;
    width: 75px;
    border-radius: 5px;
    border: 5px solid #0c89a8;
    background-color: #00ccff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.one{
    margin-top: 15px;
}
.two{
    margin-left: 170px;
    height: 75px;
    width: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 5px solid #880b43;
    background-color: #e85405;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.four{
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 170px;
    height: 75px;
    width: 75px;
    border-radius: 5px;
    border: 5px solid #0c89a8;
    background-color: #00ccff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.six{
    
    margin-left: 170px;
    height: 75px;
    width: 75px;
    border-radius: 5px;
    border: 5px solid #0c89a8;
    background-color: #00ccff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.five{
    float: left;
    margin-left: 15px;
    height: 75px;
    width: 75px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 5px solid #880b43;
    background-color: #e85405;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.seven, .eight{
    margin-left: 170px;
    height: 75px;
    width: 75px;
    border-radius: 5px;
    border: 5px solid #0c89a8;
    background-color: #00ccff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.seven{
    margin-top: 15px;
    margin-bottom: 5px;
}
.eight{
    float: left;
}
.nine{
    float: right;
    margin-right: 15px;
    height: 75px;
    width: 75px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 5px solid #880b43;
    background-color: #e85405;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content{
    height:800px;
    position: relative;
    padding-left: 25px;
}
.posi-two, .posi-three, .posi-four, .posi-five{
    border: 3px solid rgb(196, 56, 79);
    height: 300px;
    width: 420px;
    text-align: center;
}   
.posi-one{
    font-size: larger;
    position: absolute;
    top: 8%;
    left: 38%; 
}
.posi-two{
position: absolute;
left: 3%;
top: 15%;
}
.posi-three{
    position: absolute;
    left: 34.5%;
    top: 15%;
}
.posi-four{
    position: absolute;
    left: 66%;
    top: 15%;
}
.posi-five{
    position: absolute;
    top: 56.5%;
    left: 34.5%;
}
.mine, .ratan, .kalyani{
    height: 75px;
    width: 75px;
    border-radius: 5px;
    border: 5px solid #880b43;
    background-color: #e85405;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.my, .own, .raj, .ketan, .kiran, .sidhhu, .nita, .suku{
    height: 75px;
    width: 75px;
    border-radius: 5px;
    border: 5px solid #0c89a8;
    background-color: #00ccff;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.my, .raj, .nita, .suku{
    position: absolute;
    top: 5%;
    left: 40%;
}
.mine, .kiran{
    position: absolute;
    top: 35%;
    left: 40%;
}
.own, .ketan, .sidhhu{
    position: absolute;
    top: 65%;
    left: 40%;
}
.ratan{
    position: absolute;
    left: 50%;
    top: 50%;
}
.kalyani{
    position: absolute;
    top: 35%;
    left: 12%;
}
.flex{
    background-color: #ffff99;
    height: 1650px;
}
.position{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.item1, .item2, .item3, .item4{
    height: 110px;
    width: 130px;
    background-color: aqua;
    border: 5px solid rgb(6, 139, 139);
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
}
hr{
    background-color: #880b43;
    margin: 30px;
}
.kunal{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 380px;
    margin: 25px;
}
.it1{
    height: 110px;
    width: 130px;
    background-color: aqua;
    border: 5px solid rgb(6, 139, 139);
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.second{
    display: flex;
    flex-flow: row wrap;
    height: 120px;
    margin-top: 60px;
    margin-left: 25x;
    margin-right: 25px;
}
.item11, .item22, .item33, .item44, .item55{
    height: 110px;
    width: 130px;
    background-color: aqua;
    border: 5px solid rgb(6, 139, 139);
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item33{
    flex-grow: 1;
}
.third{
    display: flex;
    justify-content: space-evenly; 
}
.item0{
    height: 110px;
    width: 130px;
    background-color: aqua;
    border: 5px solid rgb(6, 139, 139);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color: #00ccff;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    background-color: gold;
    right:30px;
    border-radius: 50%;
    color: rgb(13, 4, 48);
    text-align: center;
    margin: 40PX;
  }
  a{
    margin-right: 20px;

  }

